# Python Assessment
Dillon Constantine - Dillon.L.Constantine@aib.ie

The aim of this code is to demonstrate the core learning outcomes of the Python Programming course.
 - Functions
 - Boolean-Logic (Loops & Conditions)
 - Data Structures
 - Object Oriented Programming
 - Handle Various Error messages & Exceptions.

# Functions
This part of the code demonstrates the creation and use of functions.

### Greeting Function

In [74]:
def welcome():
    name = input('Enter your name: ')
    return f'Hello ' + name + ' and welcome to this Project!'
    

greeting = welcome()
print(greeting)

Enter your name: Dillon
Hello Dillon and welcome to this Project!

### Calculation Function

In [75]:
def calculation (a, b, c):
    'Returns the calculation of a, b and c.'
    the_calculation = (a + b) * c
    
    return the_calculation


# the function calculation() is reusable when it is provided with different arguments. 
calculation_1 = calculation(2, 5, 10)
print(f'Sum: {calculation_1}')

calculation_2 = calculation(150, 1000, 900)
print(f'Sum: {calculation_2}')
#help(add)

Returns the calculation of a, b and c.
Sum: 70
Returns the calculation of a, b and c.
Sum: 1035000

### Circle Circumference Function
This function calculates the circumference of a circle based off the inputted radius.

In [3]:
# Circumfirence of a circle (user enters radius each time) 
# C = 2*π*r

def circ_circum(rad):
    return 2*(3.14159*rad)

print('Enter the radius of the circle: ', end = '')
radius = float(input())

circum = circ_circum(radius)
print('Circumference = {:.2f}'.format(circum))

Enter the radius of the circle: 5
Circumference = 31.42

### Bill Plus Service Calculation

In [43]:
# Function to Calculate Bill plus Tip with a defined 10% tip 
# This can be expanded using If Conditions later on. (Good Tip, Average Tip, Poor Tip)

def bill_calc(bill_amount, tip_percent = 10):
    total_bill = round(bill_amount*(1 + 0.01 * tip_percent),2)
    
    return f'Total plus Service charge is: €{total_bill}' 
    
    
bill_calc(10.80)

'Total plus Service charge is: €11.88'

In [44]:
bill_calc(200.11)

'Total plus Service charge is: €220.12'

### Even Number Check Function

In [6]:
def even_num(num):
    if num % 2 == 0:
        return f'This number is Even!' 
    else:
        return f'This number is Odd.'
        
print('Enter a number: ', end = '')
number = int(input())

num_check = even_num(number)
print(f'Number check: {num_check}')

Enter a number: 3
Number check: This number is Odd.

# Boolean Logic (Loops & Conditions)
This Section of code demonstrates the use of boolean logic.

### Boolean Basic Operations

In [69]:
# AND Operator
print(True and True)
print(True and False)
print(False and False)

# OR Operator
print(True or False)
print(False or False)

True
False
False
True
False

### Conditions

In [51]:
# Boolean Logic
a = 2 * 3
b = 5 + 4

if (a == b):
    print('a is equal to b.')
    
else:
    diff = a - b
    print('a and b are not equal.')
    print(f'The difference is {abs(diff)}!')

a and b are not equal!
The difference is 3!

#### Drinking Age Example:

In [55]:
age = int(input('Enter your age: '))

if age >= 18 and age < 21:
    print('You are eligible to drink in Europe.')
elif age >= 21:
    print('You are eligible to drink in America and Europe.')
else:
    print("You are not old enought to consume Alcohol, please don't drink it!")

Enter your age: 8
You are not old enought to consume Alcohol, please don't drink!

#### F1 Tyre type Example:

In [57]:
tyre_type = input('Enter Your Tyre Type: ').lower()

if (tyre_type == 'hard'):
    print('Hard Tyres being used currently. This tyre has a white sidewall.')
elif (tyre_type == 'medium'):
    print('Medium tyres are being used currently. This tyre has a yellow sidewall.')
elif (tyre_type == 'soft'):
    print('Soft tyres are being used currently. This tyre has a red sidewall.')
elif (tyre_type == 'intermediate'):
    print('Intermediate tyres are being used currently. This tyre has a green sidewall.')
elif (tyre_type == 'wet'):
    print('Wet tyres are being used currently. This tyre has a blue sidewall.')
else:
    print('This is not a valid tyre used in F1 racing.')

Enter Your Tyre Type: HARD
Hard Tyres being used currently. This tyre has a white sidewall.

### Loops

In [71]:
# Print out a range of numbers using a for loop.
for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [72]:
# Using the Break function to break out of the loop once an item is found. 
#If item not found loop is just carried out as normal.

brands = ['Nike', 'Adidas', 'Apple', 'Samsung']

for b in brands:
    if b == 'Apple':
        print('\nApple found, loop terminated!')
        break
    print(b)
else:
    print('\nList executed as item not found in list.')

Nike
Adidas

Apple found, loop terminated!

# Data Structures
This Section of the code demonstrates the understanding of Lists & Dictionaries.

## Lists

### String List

In [73]:
# List of Sports (String List)
print('Initial List of Sports!')
sports = ['Hurling', 'Football', 'Tennis', 'Rugby', 'Golf']
print(sports)
print(type(sports))
print(f'Lenght of list: {len(sports)}')

# Find the 3rd & Last sport in the list
print('\nThe 3rd sport in the list is ' + sports[2])

# Change Golf to Ping Pong:
sports[-1] = 'Ping Pong'
print(sports)

Initial List of Sports!
['Hurling', 'Football', 'Tennis', 'Rugby', 'Golf']
<class 'list'>
Lenght of list: 5

The 3rd sport in the list is Tennis
['Hurling', 'Football', 'Tennis', 'Rugby', 'Ping Pong']

In [9]:
# Adding and Removing from Lists.
print('\nList After Removal & Addition: ')
sports.append('Gaelic Football')
sports.remove('Rugby')
print(sports)

# Sorts list in Alpabetical order
print('\nSorted List of Sports (A-Z)')
sports.sort()
print(sports)

List After Removal & Addition:
['Hurling', 'Football', 'Tennis', 'Ping Pong', 'Gaelic Football']

Sorted List of Sports (A-Z)
['Football', 'Gaelic Football', 'Hurling', 'Ping Pong', 'Tennis']

### Number List

In [10]:
# Number List
print('Initial Number List!')
num_list = [1, 2, 10, 16, 8, 9, 10, 5]
print(num_list)


# Slicing a list
print('\nSlicing Lists: ')
print(num_list[1:4]) # Returns 2 to 4 of the list. 
print(num_list[4:]) # Returns 4th item onwards.
print(max(num_list)) # Gets highest number in list.
print(min(num_list)) # Gets lowest number in list.

# Sort Function.
print('\nSorted List: (Largest to Smallest)')
num_list.sort(reverse = True)
print(num_list)

# Count function
print(f'\nNumber of times 10 appears in the list: {num_list.count(10)}')

Initial Number List!
[1, 2, 10, 16, 8, 9, 10, 5]

Slicing Lists:
[2, 10, 16]
[8, 9, 10, 5]
16
1

Sorted List: (Largest to Smallest)
[16, 10, 10, 9, 8, 5, 2, 1]

Number of times 10 appears in the list: 2

### Combining Lists

In [11]:
# Shows that lists can be combined.
print('Combining 2 lists (Num List & Sports List): ')
mixed = num_list + sports
print(mixed)

Combining 2 lists (Num List & Sports List):
[16, 10, 10, 9, 8, 5, 2, 1, 'Football', 'Gaelic Football', 'Hurling', 'Ping Pong', 'Tennis']

### Simple Nested List Example

In [12]:
nest_list = [5, 6, ['Ear', 'Nose', 'Arm', ['Dec', 'Jan']], 10, 11]
print('\nNested List: ')
print(nest_list[2])

print('\n2nd Nest Returned:')
print(nest_list[2][3])

print('\n3rd Level of nest Specific value:')
print(nest_list[2][3][0])

Nested List:
['Ear', 'Nose', 'Arm', ['Dec', 'Jan']]

2nd Nest Returned:
['Dec', 'Jan']

3rd Level of nest Specific value:
Dec

## Dictionaries

### First way to Create a Dictionary

In [13]:
# Creating a dictionary - GAA teams by County.
gaa_teams = {'Dublin': 'St Vincents',
             'Down': 'Kilcoo',
             'Galway': 'Corofin',
             'Kerry': 'Dr Crokes',
             'Cork': 'Nemo Rangers',
             'Mayo': 'Castlebar Mitchels'}

print(type(gaa_teams))

print(gaa_teams)
print('\n')

# Access values in a Dictionary - Accsess Via Key (County)
print(gaa_teams['Dublin'])
print(gaa_teams['Mayo'])

<class 'dict'>
{'Dublin': 'St Vincents', 'Down': 'Kilcoo', 'Galway': 'Corofin', 'Kerry': 'Dr Crokes', 'Cork': 'Nemo Rangers', 'Mayo': 'Castlebar Mitchels'}


St Vincents
Castlebar Mitchels

### Second Way to Create a Dictionary.

In [14]:
# Creating a dog dictionary:
name = 'Obi'
breed = 'Golden Retreiver'
age = 2
markings = 'blue tail'

In [15]:
dog_dict = {'name': name, 'breed': breed, 'age': age, 'markings': markings}

print(dog_dict)

{'name': 'Obi', 'breed': 'Golden Retreiver', 'age': 2, 'markings': 'blue tail'}

### Merging Dictionaries
Demonstrates that it is possible to merge 2 dictiaries without affecting the original dictionaries.

In [16]:
# Taking a copy of the dictionary so as not to alter the original.
merge = gaa_teams.copy()

print('\nCopying Gaa Teams into new dictionary:')
print(merge)
merge.update(dog_dict)

print('\nDog & GAA Teams Dictionaries Merged:')
print(merge)

# Get info from the merged data.
print('\nPull info from the Merged Dictionary:')
print(merge['name'])
print(merge['Down'])

# Remove markings as no longer needed (Incorrect info).
print('\nRemove Markings:')
merge.pop('markings')
print(merge)

Copying Gaa Teams into new dictionary:
{'Dublin': 'St Vincents', 'Down': 'Kilcoo', 'Galway': 'Corofin', 'Kerry': 'Dr Crokes', 'Cork': 'Nemo Rangers', 'Mayo': 'Castlebar Mitchels'}

Dog & GAA Teams Dictionaries Merged:
{'Dublin': 'St Vincents', 'Down': 'Kilcoo', 'Galway': 'Corofin', 'Kerry': 'Dr Crokes', 'Cork': 'Nemo Rangers', 'Mayo': 'Castlebar Mitchels', 'name': 'Obi', 'breed': 'Golden Retreiver', 'age': 2, 'markings': 'blue tail'}

Pull info from the Merged Dictionary:
Obi
Kilcoo

Remove Markings:
{'Dublin': 'St Vincents', 'Down': 'Kilcoo', 'Galway': 'Corofin', 'Kerry': 'Dr Crokes', 'Cork': 'Nemo Rangers', 'Mayo': 'Castlebar Mitchels', 'name': 'Obi', 'breed': 'Golden Retreiver', 'age': 2}

# Object Oriented Programming (OOP)
This section of the code demonstrates an understanding of OOP.

### Class Creation

In [17]:

class Car:
    
    def __init__(self, brand, model, colour, price):
        self.brand = brand
        self.model = model
        self.colour = colour
        self.price = price
        self.battery = 100
        
        
    def display(self):
        print(f'Brand: {self.brand} \nModel: {self.model} \nColour:  {self.colour} \nPrice: {self.price} \nBattery: {self.battery}')
        
   
    def drive(self):
        self.battery = self.battery - 10
        if self.battery < 0:
            self.battery = 0 # Battery Charge cant drop below 0%.
                    
    def air_conditioning(self):
        self.battery = self.battery - 1
        if self.battery < 0:
            self.battery = 0 # Battery Charge cant drop below 0%.
                    
    def charge(self):
        self.battery = self.battery + 20
        if self.battery > 100:
            self.battery = 100 # Battery Charge cant go above 100%.
                    
    def crash(self):
        self.price = self.price - 5000
    
        
    def repair(self):
        self.price = self.price + 1500
        
    def respray(self, new_colour):
        self.colour = new_colour

### Creating Objects of the Class

In [18]:
print('New Car:')
car_1 = Car('Volvo', 'V40', 'Grey', 25000)
car_1.display()


car_1.drive()
car_1.drive()
car_1.drive()
car_1.drive()
car_1.drive()
car_1.drive()
car_1.charge()
car_1.crash()
car_1.drive()
car_1.drive()
car_1.repair()
car_1.charge()
car_1.charge()


print('\nCar After some time:')
car_1.display()

New Car:
Brand: Volvo
Model: V40
Colour:  Grey
Price: 25000
Battery: 100

Car After some time:
Brand: Volvo
Model: V40
Colour:  Grey
Price: 21500
Battery: 80

In [19]:
print('New Car:')
car_2 = Car('Ford', 'Focus', 'Red', 18500)
car_2.display()

car_2.drive()
car_2.drive()
car_2.crash()
car_2.respray('White')
car_2.drive()

print('\nCar After some time:')
car_2.display()

New Car:
Brand: Ford
Model: Focus
Colour:  Red
Price: 18500
Battery: 100

Car After some time:
Brand: Ford
Model: Focus
Colour:  White
Price: 13500
Battery: 70

In [20]:
print('New Car:')
car_3 = Car('Kia', 'Sportage', 'Black', 32500)
car_3.display()

car_3.drive()
car_3.drive()
car_3.drive()
car_3.drive()
car_3.drive()
car_3.drive()
car_3.drive()
car_3.drive()
car_3.drive()
car_3.drive()
car_3.drive()
car_3.charge()


print('\nCar After some time:')
car_3.display()

New Car:
Brand: Kia
Model: Sportage
Colour:  Black
Price: 32500
Battery: 100

Car After some time:
Brand: Kia
Model: Sportage
Colour:  Black
Price: 32500
Battery: 20

# Exception Handling
This section of the code demonstrates an understanding of Exception Handling.

In [70]:
try:
    n = input('Enter a number to divide 100 by: ')
    n = int(n)
    x = input('Enter a 2nd Number to Add on: ')
    x = float(x)
    result = (100/n) + x
except ValueError:
    print('Incorrect input, Please enter a real number.')
except ZeroDivisionError:
    print('Error occured, Cannot divide by Zero (0), issue with the first number entered.')
else:
    print(result)

Enter a number to divide 100 by: 0
Enter a 2nd Number to Add on: 7
Error occuread, Cannot divide by Zero (0)

In [54]:
# Exception Handling on the dictionary example.
print(gaa_teams)
print('\n')

try:
    team_check = gaa_teams['London']
    
except KeyError:
    print('There is no team in the dictionary from the location you are searching.')
    print('Please try again.')
else:
    print(f'Team Found: {team_check}.')

{'Dublin': 'St Vincents', 'Down': 'Kilcoo', 'Galway': 'Corofin', 'Kerry': 'Dr Crokes', 'Cork': 'Nemo Rangers', 'Mayo': 'Castlebar Mitchels'}


There is no team in the dictionary from the location you are searching.
Please try again.